<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="v1.GetUsers" />
			<class name="v2.PostAndDeleteUsers" />
			<class name="v2.GetPostDeleteUserPosts" />
			<class name="v2.GetAndCreatePostsForAKnownUserID" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
